@model SmartUCF

@{
    ViewData["Title"] = "SmartUCF";
}

@section head {
    <!-- Chart JS -->
    <script src="~/lib/Chart.js/Chart.min.js"></script>
}

@section sidebar {
    <li class="active">
        <a href="@Url.Action("Index", "Home")">
            <i class="now-ui-icons arrows-1_minimal-left"></i>
            <p>SmartUCF</p>
        </a>
    </li>

    <li class="active-pro">
        <a href="~/swagger" target="_blank">
            <i class="now-ui-icons files_paper"></i>
            <p>Swagger</p>
        </a>
    </li>
}

@section navbar {

    <div class="navbar-wrapper">
        <div class="navbar-toggle">
            <button type="button" class="navbar-toggler">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
            </button>
        </div>
        <a class="navbar-brand" href="#">Dashboard</a>
    </div>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-bar navbar-kebab"></span>
        <span class="navbar-toggler-bar navbar-kebab"></span>
        <span class="navbar-toggler-bar navbar-kebab"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navigation">

        <form>
            <div class="input-group no-border">
                <input type="text" name="daterange" class="form-control" />
                <div class="input-group-append">
                    <div class="input-group-text">
                        <i class="now-ui-icons ui-1_calendar-60"></i>
                    </div>
                </div>
            </div>
        </form>

        <ul class="navbar-nav">

            <li class="nav-item">
                <a class="nav-link" href="#" onclick="window.location.reload(true)">
                    <i class="now-ui-icons arrows-1_refresh-69"></i>
                    <p>
                        <span class="d-lg-none d-md-block">Refresh</span>
                    </p>
                </a>
            </li>

            <li id="monitoredServersList" class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="monitoredServersListLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="now-ui-icons ui-2_settings-90"></i>
                    <p>
                        <span class="d-lg-none d-md-block">Monitored Servers</span>
                    </p>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="monitoredServersListLink">
                    @foreach (var server in Constants.SmartUCFMachines)
                    {
                        if (Model.MonitoredServers.Contains(server))
                        {
                            <a class="dropdown-item active" id="display_server_@server" href="javascript:void(0);">@($"Сървър {server}")</a>
                        }
                        else
                        {
                            <a class="dropdown-item" id="display_server_@server" href="javascript:void(0);">@($"Сървър {server}")</a>
                        }
                    }
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="now-ui-icons users_single-02"></i>
                    <p>
                        <span class="d-lg-none d-md-block">User</span>
                    </p>
                </a>
            </li>

        </ul>
    </div>

}

@*<div class="panel-header panel-header-lg">
    <div id="headerDashboardChartLoader">
        <div class="horizontalCirclesLoader">Зареждане...</div>
    </div>
    <canvas id="headerDashboardChart"></canvas>
</div>*@

<div class="panel-header">
    <div class="header text-center">
        <h2 class="title">SmartUCF</h2>
        <p class="category">TODO</p>
    </div>
</div>

<div class="content">
    <div class="row">
        <div class="col-md-7">
            <div id="listsUsageTableCard" class="card">
                <div class="card-header ">
                    <h5 class="card-category">General Analysis</h5>
                    <h4 class="card-title">Lists usage table data</h4>
                    <p class="category">Contains a breakdown by all lists in the monitored period</p>
                    <div class="dropdown">
                        <button type="button" class="btn btn-round btn-outline-default dropdown-toggle btn-icon no-caret" data-toggle="dropdown">
                            <i class="now-ui-icons loader_gear"></i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right text-right">
                            <a class="dropdown-item" href="@Url.Action("GetStopwatchListData")" target="_blank">Get JSON</a>
                            
                            <form id="getCsvZip" asp-action="GetCsvZip">
                                <input class="dropdown-item" type="submit" value="Get Csv Zip" />
                            </form>
                            
                            <form id="getLogsZip" asp-action="GetLogsZip">
                                <input class="dropdown-item" type="submit" value="Get Logs Zip" />
                            </form>

                            <a id="refreshListsUsageTable" class="dropdown-item text-danger" href="#">Refresh Data</a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table id="listsUsageTable" class="table">
                            <thead class="text-primary text-right">
                                <tr>
                                    <th class="text-right" style="width: 5%">
                                        view
                                    </th>
                                    <th class="text-center" style="width: 5%">
                                        #
                                    </th>
                                    <th class="text-left" style="width: 40%">
                                        listName
                                    </th>
                                    <th class="text-right" style="width: 10%">
                                        <a id="sort_by_totalRowsRetrieved" class="sortable desc" href="#">
                                            total Rows Retrieved<i class="now-ui-icons arrows-1_minimal-down"></i>
                                        </a>
                                    </th>
                                    <th class="text-right" style="width: 10%">
                                        <a id="sort_by_totalRecords" class="sortable" href="#">
                                            total<br>Records
                                        </a>
                                    </th>
                                    <th style="width: 10%">
                                        <a id="sort_by_avgRowsRetrieved" class="sortable" href="#">
                                            avg<br>Rows Retrieved
                                        </a>
                                    </th>
                                    <th style="width: 10%">
                                        <a id="sort_by_avgRetrieveTime" class="sortable" href="#">
                                            avg<br>Retrieve Time (ms)
                                        </a>
                                    </th>
                                    <th style="width: 10%">
                                        <a id="sort_by_maxRetrieveTime" class="sortable" href="#">
                                            max<br>Retrieve Time (ms)
                                        </a>
                                    </th>
                                </tr>
                            </thead>
                            <tbody class="text-right">
                            <tr id="listsUsageTableLoader">
                                <td colspan="8">
                                    <div class="rect-spinner">
                                        <div class="rect1 bg-primary"></div>
                                        <div class="rect2 bg-primary"></div>
                                        <div class="rect3 bg-primary"></div>
                                        <div class="rect4 bg-primary "></div>
                                        <div class="rect5 bg-primary"></div>
                                        Loading
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card-footer ">
                    <hr>
                    <div class="stats">
                        <div class="dropup">
                            <button type="button" class="btn btn-round btn-outline-default dropdown-toggle btn-icon no-caret" data-toggle="dropdown">
                                <i class="now-ui-icons travel_info"></i>
                            </button> 
                            <span class="stats-info"></span>
                            <div class="dropdown-menu dropdown-menu-left">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-5">
            <div class="card card-chart">
                <div class="card-header">
                    <h5 class="card-category">General Analysis</h5>
                    <h4 class="card-title">Percentage of all lists usage</h4>
                    <p class="category">Displays the percent that the chosen lists represent in comparison to all records in the monitored period.</p>
                    @*
                        <div class="dropdown">
                            <button type="button" class="btn btn-round btn-outline-default dropdown-toggle btn-icon no-caret" data-toggle="dropdown">
                                <i class="now-ui-icons loader_gear"></i>
                            </button>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="@Url.Action("GetStopwatchListData")" target="_blank">Get JSON</a>
                                <a class="dropdown-item" href="#">Get Stopwatch ZIP</a>
                                <a class="dropdown-item text-danger" href="#">Remove Data</a>
                            </div>
                        </div>
                    *@
                </div>
                <div class="card-body">
                    <div id="listsUsagePieChartLoader">
                        <div class="spinner">
                            <div class="double-bounce1 bg-primary"></div>
                            <div class="double-bounce2 bg-primary"></div>
                        </div>
                    </div>
                    <div class="chart-area" style="height: auto;">
                        <canvas id="listsUsagePieChart"></canvas>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="now-ui-icons arrows-1_refresh-69"></i> Just Updated
                    </div>
                </div>
            </div>

            <div class="card card-chart">
                <div class="card-header">
                    <h4 class="card-title">Servers usage proportion</h4>
                    @*<div class="dropdown">
                        <button type="button" class="btn btn-round btn-outline-default dropdown-toggle btn-icon no-caret" data-toggle="dropdown">
                            <i class="now-ui-icons loader_gear"></i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="@Url.Action("GetStopwatchListData")" target="_blank">Get JSON</a>
                            <a class="dropdown-item" href="#" target="_blank">Get Csv Zip </a>
                            <a class="dropdown-item" href="#" target="_blank">Get Logs Zip</a>
                            <a class="dropdown-item text-danger" href="#">Remove Data</a>
                        </div>
                    </div>*@
                </div>
                <div class="card-body">
                    <div id="serversUsagePieChartLoader">
                        <div class="spinner">
                            <div class="double-bounce1 bg-primary"></div>
                            <div class="double-bounce2 bg-primary"></div>
                        </div>
                    </div>
                    <div class="chart-area" style="height: auto;">
                        <canvas id="serversUsagePieChart"></canvas>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="now-ui-icons arrows-1_refresh-69"></i> Just Updated
                    </div>
                </div>
            </div>

        </div>

        </div>
</div>

@section footer {
    @* no-op *@
}

@section scripts {
    <script>
        const smartUCFCookieName = "@SmartUCF.CookieName";
        const smartUCFServers = @Json.Serialize(Constants.SmartUCFMachines);

        function initializeDateRangePicker(initialStartDate, initialEndDate) {

            $('input[name="daterange"]').daterangepicker({
                    "startDate": initialStartDate,
                    "endDate": initialEndDate,
                    "opens": "center",
                    "locale": {
                        "format": "DD.MM.YYYY",
                        "firstDay": 1
                    }
                },
                function(newStartDate, newEndDate) {

                    //console.log("A new date selection was made: " + start.format('DD.MM.YYYY') + ' to ' + end.format('DD.MM.YYYY'));

                    var jsonCookieData = {};
                    var cookieData = Cookies.get(smartUCFCookieName);

                    if (cookieData) {
                        jsonCookieData = JSON.parse(cookieData);
                    }

                    jsonCookieData.startDate = newStartDate.toDate();
                    jsonCookieData.endDate = newEndDate.toDate();

                    Cookies.set(smartUCFCookieName, JSON.stringify(jsonCookieData));

                    window.location.reload(true);

                });
        }

        function initializeMonitorServersPicker() {
            $('#monitoredServersList').on('click',
                ".dropdown-item",
                function(e) {
                    var serverName = this.id.replace("display_server_", "");

                    var jsonCookieData = {};
                    var cookieData = Cookies.get(smartUCFCookieName);

                    if (cookieData) {
                        jsonCookieData = JSON.parse(cookieData);
                    }

                    if (!jsonCookieData.monitoredServers) {
                        jsonCookieData.monitoredServers = [];
                    }

                    var active = $(this).hasClass('active');
                    if (active) {
                        var index = jsonCookieData.monitoredServers.indexOf(serverName);
                        if (index > -1) {
                            jsonCookieData.monitoredServers.splice(index, 1);
                        }
                    } else {
                        jsonCookieData.monitoredServers.push(serverName);
                    }

                    Cookies.set(smartUCFCookieName, JSON.stringify(jsonCookieData));

                    window.location.reload(true);
                });
        }

        function getSelectedListsFromTable() {
            var selectedCheckboxes = $('#listsUsageTable tbody input[type="checkbox"][id^="display_"]:checked');
            return selectedCheckboxes.toArray().map(x => x.id.replace("display_", ""));
        }

        function updateListsUsageTable(data) {

            function constructMeta(meta) {
                $('#getCsvZip input[name="filePaths"]').remove();
                $('#getLogsZip input[name="filePaths"]').remove();
                $('#listsUsageTableCard .card-footer .stats .dropup .dropdown-menu a').remove();

                for (var i = 0; i < meta.files.length; i++) {

                    var file = meta.files[i];

                    $("#getCsvZip").append(`<input type="hidden" name="filePaths" value="${file}">`);
                    $("#getLogsZip").append(`<input type="hidden" name="filePaths" value="${file}">`);

                    $('#listsUsageTableCard .card-footer .stats .dropup .dropdown-menu').append(`<a class="dropdown-item" href="javascript:void(0)">${file}</a>`);
                }

                $('#listsUsageTableCard .card-footer .stats-info').text(`
                            Consolidation summary from ${meta.files.length} files
                            in the period from ${moment(meta.from).format('yyyy-MM-DD')}
                            to ${moment(meta.to).format('yyyy-MM-DD')}.`);
            }

            var table = $(`#listsUsageTable`);
            var tableBody = table.children('tbody');
            var loaderRow = table.find("#listsUsageTableLoader");

            if (!data) {

                loaderRow.show();

                $.ajax({
                    url: '@Url.Action("GetStopwatchListData")',
                    success: function(r) {
                        //console.log(r);
                        updateListsUsageTable(r.results);
                        constructMeta(r.meta);
                    }
                });

                return;
            }

            var checked = true;
            var initial = true;

            if (loaderRow.nextAll().length) {
                initial = false;
            }

            loaderRow.hide();
            loaderRow.nextAll().remove();

            for (var i = 0; i < data.length; i++) {
                var listData = data[i];

                if (i >= 5) {
                    checked = false;
                }

                // regular row template
                tableBody.append(`<tr style="background-color: ${checked ? availableColors[i] : ""}">
                                <td class="text-center">
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input id="display_${listData.id}" class="form-check-input" type="checkbox" ${checked ? "checked" : ""}>
                                            <span class="form-check-sign"></span>
                                        </label>
                                    </div>
                                </td>
                                <td class="text-center">
                                    ${i + 1}
                                </td>
                                <td class="text-left">
                                    ${listData.listName}
                                </td>
                                <td>
                                    ${parseFloat(listData.totalRowsRetrieved).toLocaleString('bg')}
                                </td>
                                <td>
                                    ${parseFloat(listData.totalRecords).toLocaleString('bg')}
                                </td>
                                <td>
                                    ${Math.round(listData.avgRowsRetrieved)}
                                </td>
                                <td>
                                    ${parseFloat(listData.avgRetrieveTime).toFixed(2)}
                                </td>
                                <td>
                                    ${listData.maxRetrieveTime}
                                </td>
                            </tr>`);
            }

            var sumRowsRetrieved = data.reduce((x, { totalRowsRetrieved }) => x + totalRowsRetrieved, 0);
            var sumRecords = data.reduce((x, { totalRecords }) => x + totalRecords, 0);
            var avgAllRows = Math.round(sumRowsRetrieved / sumRecords);

            // total row template
            tableBody.append(`<tr class="font-weight-bold">
                                <td>

                                </td>
                                <td>

                                </td>
                                <td class="text-left">
                                   <b>Total / Average:</b>
                                </td>
                                <td>
                                    ${parseFloat(sumRowsRetrieved).toLocaleString('bg')}
                                </td>
                                <td>
                                    ${parseFloat(sumRecords).toLocaleString('bg')}
                                </td>
                                <td>
                                    ${Math.round(avgAllRows)}
                                </td>
                                <td>

                                </td>
                                <td>

                                </td>
                            </tr>`);

            if (initial) {
                table.trigger('constructed.table.now-ui', [data]);
            } else {
                table.trigger('updated.table.now-ui', [data]);
            }
        }

        function updateListsPieChart(data, pieChart) {

            function formatData(raw) {

                var selectedLists = getSelectedListsFromTable();

                var labels = ["NotIncluded"];
                var colors = [chartColors.grey];
                var datasets = [0];


                for (var i = 0; i < raw.length; i++) {
                    var current = raw[i];

                    if (selectedLists.includes(current.id)) {
                        labels.push(current.listName);
                        datasets.push(current.totalRowsRetrieved);
                        colors.push(availableColors[i]);
                        continue;
                    }

                    datasets[0] += current.totalRowsRetrieved;
                }

                return {
                    datasets: [
                        {
                            data: datasets,
                            backgroundColor: colors
                        }
                    ],

                    labels: labels
                }
            }

            if (!data) {
                throw Error("No data! Pie chart cannot initialize.");
            }

            if (pieChart) {
                pieChart.data = formatData(data, getSelectedListsFromTable());
                pieChart.update();
                return null;
            }

            var pieChartLoader = $("#listsUsagePieChartLoader");
            var ctx = document.getElementById("listsUsagePieChart").getContext("2d");
            //var fill = drawGreenCanvasBackground(ctx);

            pieChartLoader.hide();

            return new Chart(ctx,
                {
                    type: 'pie',
                    data: formatData(data),

                    options: {
                        tooltips: {
                            enabled: true,
                            callbacks: {
                                label: function(tooltipItem, data) {
                                    //console.log(tooltipItem, data);
                                    const label = data.labels[tooltipItem.index];
                                    const val = data.datasets[tooltipItem.datasetIndex].data[tooltipItem.index];
                                    const total = data.datasets[tooltipItem.datasetIndex].data.reduce((x, y) => x + y, 0);

                                    return '\t' + label + ' : ' + parseFloat(val / total * 100.0).toFixed(4) + "%";
                                }

                            }
                        }
                    },

                    plugins: [
                        {
                            beforeInit: function(chart, options) {
                                chart.legend.afterFit = function() {
                                    this.height = this.height + 30;
                                };
                            }
                        }
                    ]
                });
        }

        function updateServersPieChart(data, pieChart) {

            function formatData(raw) {

                var labels = [];
                var colors = [];

                if (raw.length) {
                    for (var j = 0; j < raw[0].servers.length; j++) {
                        var serverName = raw[0].servers[j].name;
                        labels.push(`Сървър S${serverName}`);
                        colors.push(availableColors[smartUCFServers.indexOf(serverName)]);
                    }
                }

                var selectedLists = getSelectedListsFromTable();
                var datasets = [];

                for (var i = 0; i < raw.length; i++) {
                    var current = raw[i];

                    if (!selectedLists.includes(current.id)) {
                        continue;
                    }

                    var dataset = {
                        data: current.servers.map(x => x.retrieved),
                        backgroundColor: colors
                    };

                    datasets.push(dataset);

                }

                return {
                    datasets: datasets,
                    labels: labels
                }
            }

            if (!data) {
                throw Error("No data! Pie chart cannot initialize.");
            }

            if (pieChart) {
                pieChart.data = formatData(data, getSelectedListsFromTable());
                pieChart.update();
                return null;
            }

            var pieChartLoader = $("#serversUsagePieChartLoader");
            var ctx = document.getElementById("serversUsagePieChart").getContext("2d");
            //var fill = drawGreenCanvasBackground(ctx);

            pieChartLoader.hide();

            return new Chart(ctx,
                {
                    type: 'pie',
                    data: formatData(data),

                    options: {
                        tooltips: {
                            enabled: true,
                            callbacks: {
                                label: function(tooltipItem, data) {
                                    //console.log(tooltipItem, data);
                                    const label = data.labels[tooltipItem.index];
                                    const val = data.datasets[tooltipItem.datasetIndex].data[tooltipItem.index];

                                    return '\t' + label + ' : ' + parseInt(val).toLocaleString('bg');
                                }

                            }
                        }
                    },

                    plugins: [
                        {
                            beforeInit: function(chart, options) {
                                chart.legend.afterFit = function() {
                                    this.height = this.height + 30;
                                };
                            }
                        }
                    ]
                });
        }

        $(document).ready(function() {
            const modelStartDate = "@Model.StartDate.ToString("dd.MM.yyyy")";
            const modelEndDate = "@Model.EndDate.ToString("dd.MM.yyyy")";
            initializeDateRangePicker(modelStartDate, modelEndDate);
            initializeMonitorServersPicker();
            updateListsUsageTable();

            var tableData;
            var listsPieChart;
            var serversPieChart;

            var listUsageTable = $("#listsUsageTable");
            listUsageTable.on("constructed.table.now-ui",
                function(e, data) {
                    tableData = data;
                    listsPieChart = updateListsPieChart(data);
                    serversPieChart = updateServersPieChart(data);
                });

            listUsageTable.on("updated.table.now-ui",
                function() {
                    updateListsPieChart(tableData, listsPieChart);
                    updateServersPieChart(tableData, serversPieChart);
                });

            listUsageTable.on('click',
                'input[type="checkbox"][id^=display_]',
                function(e) {

                    var checkbox = $(e.target);
                    var selected = checkbox.is(":checked");
                    var row = checkbox.closest("tr");
                    var index = row.index();

                    if (selected) {
                        row.attr("style", "background-color: " + availableColors[index - 1]);
                    } else {
                        row.removeAttr("style");
                    }

                    listUsageTable.trigger('updated.table.now-ui', [e.target, e.target.checked, index]);
                });

            listUsageTable.on('click',
                "thead a.sortable",
                function(e) {
                    e.preventDefault();

                    var anchor = $(e.target);
                    var descendingOrder = anchor.hasClass("desc");
                    var propertyName = anchor.attr("id").replace("sort_by_", "");

                    $("#listsUsageTable thead a.sortable i").remove();
                    $("#listsUsageTable thead a.sortable").removeClass("asc");
                    $("#listsUsageTable thead a.sortable").removeClass("desc");

                    if (!descendingOrder) {
                        anchor.addClass("desc");
                        anchor.append(`<i class="now-ui-icons arrows-1_minimal-down"></i>`);
                        tableData.sort(function(a, b) {
                            return b[propertyName] - a[propertyName];
                        });
                    } else {
                        anchor.addClass("asc");
                        anchor.append(`<i class="now-ui-icons arrows-1_minimal-up"></i>`);
                        tableData.sort(function(a, b) {
                            return a[propertyName] - b[propertyName];
                        });
                    }

                    updateListsUsageTable(tableData);
                    listUsageTable.trigger('updated.table.now-ui', [e.target, descendingOrder]);
                });

            $("#refreshListsUsageTable").on('click',
                function(e) {
                    e.preventDefault();
                    updateListsUsageTable();
                });
        });
    </script>
}
